html {
	box-sizing: border-box;
}
*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	background-color: #efedd6;
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	justify-content: center;
	margin: 0;
	overflow-x: hidden;
}

h1 {
	margin: .625em;
}
h2 {
	font-size: 2.875rem;
}

.box {
	background-color: steelblue;
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 25em;
	height: 12.5em;
	margin: .625em;
	border-radius: .625em;
	box-shadow: .125em .25em .313em rgba(0, 0, 0, 0.3);
	transform: translateX(400%);
	transition: transform 0.4s ease;
}
.box:nth-of-type(even) {
	transform: translateX(-400%);
}
.box.show {
	transform: translateX(0);
}
